<div class="single-product">
    <div class="conatiner" *ngIf="service">
        <div class="product-img-container">
            <img class="productImg" mat-card-image style="width: 100%; padding: 20px;" [src] ="'https://daihocthuyhanoi.edu.vn/assets/uploads/news/images/cho-meo-1-1040-1.jpg'"
                 alt="Photo of a Shiba Inu">

        </div>
        <div class="product-description">
            <h2 style="font-weight: 400;"> {{service.name}} </h2>
            <div class="rating-container">
            </div>
            <h2 style="font-weight: 400;">Giá:  {{service.price | currency: "VND"}} </h2>
            <div class="description" [innerHTML]="service.description"></div>

            <br><br>
            <div class="button-group">
                <button mat-button mat-raised-button color="primary" class="buy-now-button space"
                        (click)="bookNow(service.id)">ĐẶT LỊCH CHO THÚ CƯNG
                </button>
            </div>

        </div>
    </div>
</div>

<div class="description-tabs" *ngIf="service">
    <mat-tab-group>
        <mat-tab label="Mô tả">
            <h2 style="font-weight: 400;">{{service.name}}</h2>
            <div class="description"  [innerHTML]= "service.description"></div>
        </mat-tab>
        <mat-tab label="Nhà sản xuất">
            <h2 style="font-weight: 400;">Manufactured By Nike</h2>
            <div class="description"> On her way she met a copy. The copy warned the Little Blind Text, that where it
                came from it would have been
                rewritten a thousand times and everything that was left from its origin would be the word "and" and the
                Little Blind Text should turn around and return to its own, safe country. But nothing the copy said
                could
                convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk
                with
                Longe and Parole and dragged her into their agency, where they abused her for their.
            </div>
        </mat-tab>
        <mat-tab label="Các đánh giá">
            <h2 style="font-weight: 400;">23 Reviews</h2>
            <div class="flex-box-transparent message-box" style="padding: 0; margin-top: 5px;"
                 *ngFor="let message of messages">
                <div class="img-box">
                    <img src="{{message.image}}" width="60px" height="60px" style="border-radius: 50%;" />
                </div>
                <div class="detail-box">
                    <div>
                        <span style="font-weight: 400; font-size: 14px;"><a>{{message.name}}</a></span>
                    </div>
                    <div>
                        5 Star
                    </div>
                    <div class="message">
                        <span>{{message.details}}</span>
                    </div>
                    <div class="time" style="margin-top: 5px;">
                        <span style="color: gray;">{{message.time}}</span>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>

