<h2 *ngIf="action === 'edit'" class="title-action">Sửa Thợ làm dịch vụ</h2>
<h2 *ngIf="action === 'add'" class="title-action">Thêm mới thợ làm dịch vụ</h2>
<form [formGroup]="createForm" class="form-actions">
    <div class="row">

        <div class="col-4">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Họ và tên</mat-label>
                <input matInput formControlName="fullname">
            </mat-form-field>
        </div>

        <div class="col-4">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Số điện thoại</mat-label>
                <input type="text" matInput formControlName="phoneNumber">
            </mat-form-field>
        </div>

        <div class="col-4">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Địa chỉ</mat-label>
                <input type="text" matInput formControlName="address">
            </mat-form-field>
        </div>

        <div class="col-12">
            <mat-label>Mô tả</mat-label>
            <ck-editor formControlName="description"></ck-editor>
        </div>

        <div class="col-6">
            <div class="row">
                <div class="col-9">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Chọn hình ảnh</mat-label>
                        <ngx-mat-file-input (change)="onChangeFile($event)"></ngx-mat-file-input>
                    </mat-form-field>
                </div>
            </div>
        </div>

    </div>

    <div class="btn-group row">
        <button mat-button mat-raised-button color="primary"
                class="save"
                (click)="save(action)"
                [disabled]="createForm.invalid">
            Lưu lại
        </button>

        <button mat-raised-button class="button btn-info"
                (click)="closeDialog()">
            Hủy bỏ
        </button>
        <br><br><br>
    </div>
</form>


