<div class="contact-box">
    <div class="first">Liên hệ: 0399617063</div>
    <div class="second">tiengiddy@gmail.com</div>
    <div class="third">3-5 NGÀY LÀM VIỆC GIAO HÀNG & ĐỔI TRẢ MIỄN PHÍ</div>
</div>
<mat-progress-bar mode="indeterminate" *ngIf="loadingEnable"></mat-progress-bar>
<div class="header-box">
    <div class="container">
        <div class="mobile-view">
            <mat-icon (click)="toggelSidenav()">menu</mat-icon>
        </div>
        <div class="logo">
            <a [routerLink]="['/home']"> <img
                    src="../../../../assets/images/logo.png">
            </a>
        </div>


        <!-- <form class="example-form">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Search">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </form> -->

        <div class="menu">
            <ul class="list">
                <li class="contain" [routerLink]="['/home']" routerLinkActive="active" *ngIf="!isAdmin"><span>TRANG CHỦ</span></li>
                <li class="contain" [routerLink]="['/products']" routerLinkActive="active" *ngIf="!isAdmin"><span>SHOP CHÓ/MÈO</span></li>
                <li class="contain" [routerLink]="['/services']" routerLinkActive="active" *ngIf="!isAdmin"><span>DỊCH VỤ</span></li>
                <li class="contain" *ngIf="!isAdmin"><span>NHẬN KÝ GỬI</span></li>
                <li class="contain" *ngIf="!isAdmin"><span>LIÊN HỆ</span>
                </li>

                <ng-container *ngIf="isAdmin">
                    <li class="contain" [routerLink]="['/admin/dashboard']" routerLinkActive="active">
                        <span>BẢNG ĐIỀU KHIỂN</span>
                    </li>
                    <li class="contain" [routerLink]="['/admin/order']" routerLinkActive="active">
                        <span>ĐẶT HÀNG</span>
                    </li>
                    <li class="contain" [routerLink]="['/admin/user']" routerLinkActive="active">
                        <span>NGƯỜI DÙNG</span>
                    </li>
                    <li class="contain" [routerLink]="['/admin/product']" routerLinkActive="active">
                        <span>SẢN PHẨM</span>
                    </li>

                    <li class="contain" [routerLink]="['/admin/service']" routerLinkActive="active">
                        <span>DỊCH VỤ</span>
                    </li>

                    <li class="contain" [routerLink]="['/admin/service-worker']" routerLinkActive="active">
                        <span>THỢ</span>
                    </li>
                    <li class="contain" [routerLink]="['/admin/booking']" routerLinkActive="active">
                        <span>ĐẶT LỊCH</span>
                    </li>
                </ng-container>

                <li class="contain" *ngIf="!userCurrent">
                    <button mat-stroked-button color="primary" class="button-login" (click)="openLoginDialog()">Đăng nhập</button>
                </li>

                <li class="contain profile dropdown" *ngIf="userCurrent">
                    <img src="https://img1a.flixcart.com/www/linchpin/fk-cp-zion/img/profile-pic-male_2fd3e8.svg"
                        width="25px">

                    <div class="dropdown-content">
                        <a (click)="openProfile()">Tài khoản của tôi</a>
<!--                        <a (click)="openOrder()">Orders</a>-->
<!--                        <a>Wishlist</a>-->
<!--                        <a>Notifications</a>-->
                        <a (click)="logout()">Đăng xuất</a>
                    </div>
                </li>
                <li class="contain" *ngIf="userCurrent && !isAdmin" [routerLink]="['shopping-cart/+ userCurrent.id']" routerLinkActive="active">
                    <mat-icon class="icon">add_shopping_cart</mat-icon>
                </li>
            </ul>
        </div>
        <div class="cart-icon mobile-view" *ngIf="!userCurrent">
            <button mat-stroked-button color="primary" (click)="openLoginDialog()">Đăng nhập</button>
        </div>
        <div class="cart-icon mobile-view" *ngIf="userCurrent" >
            <a [routerLink]="['/myprofile/notifications']">
                <mat-icon>notification_important</mat-icon>
            </a>&nbsp; &nbsp;
            <mat-icon [routerLink]="['shopping-cart/+ userCurrent.id']" routerLinkActive="active">add_shopping_cart</mat-icon>
        </div>


    </div>
</div>
<!-- <app-sidenav class="sidenavEnable"></app-sidenav> -->
