<div class="modal-dialog-custom">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" style="text-align: center;">{{title}}</h4>
        </div>
        <div class="modal-body" style="padding-bottom: 0;">
            <span class="modal-msg" style="">{{message}}</span>
        </div>
        <div class="modal-footer" style="border-top:none">
            <button type="button" class="btn-md btn-gray" (click)="onDismiss()">Huỷ bỏ</button>
            <button type="submit" class="btn-md btn-or" (click)="onConfirm()">Đồng ý</button>
        </div>
    </div>
</div>
